<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Tournamentus NetCore Ruleset" Description=" These rules are derived from Microsot Recommended Rules for NetCore Projects" ToolsVersion="15.0">
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1018" Action="None" />
	<Rule Id="CA1052" Action="None" />
	<Rule Id="CA1054" Action="None" />
	<Rule Id="CA1056" Action="None" />
	<Rule Id="CA1801" Action="None" />
	<Rule Id="CA2007" Action="None" />
	<Rule Id="CA2211" Action="None" />
	<Rule Id="CA2214" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="Info" />
    <Rule Id="IDE0002" Action="Info" />
    <Rule Id="IDE0003" Action="Info" />
    <Rule Id="IDE0004" Action="Info" />
    <Rule Id="IDE0005" Action="Info" />
    <Rule Id="IDE0007" Action="Info" />
    <Rule Id="IDE0009" Action="Info" />
    <Rule Id="IDE0011" Action="Warning" />
    <Rule Id="IDE0012" Action="Info" />
    <Rule Id="IDE0013" Action="Info" />
    <Rule Id="IDE0016" Action="Info" />
    <Rule Id="IDE0017" Action="Info" />
    <Rule Id="IDE0018" Action="Info" />
    <Rule Id="IDE0019" Action="Info" />
    <Rule Id="IDE0020" Action="Info" />
    <Rule Id="IDE0028" Action="Info" />
    <Rule Id="IDE0029" Action="Info" />
    <Rule Id="IDE0030" Action="Info" />
    <Rule Id="IDE0031" Action="Info" />
    <Rule Id="IDE1005" Action="Info" />
    <Rule Id="IDE1006" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.VisualBasic.Features" RuleNamespace="Microsoft.CodeAnalysis.VisualBasic.Features">
    <Rule Id="IDE0001" Action="Info" />
    <Rule Id="IDE0002" Action="Info" />
    <Rule Id="IDE0003" Action="Info" />
    <Rule Id="IDE0004" Action="Info" />
    <Rule Id="IDE0005" Action="Info" />
    <Rule Id="IDE0009" Action="Info" />
    <Rule Id="IDE0012" Action="Info" />
    <Rule Id="IDE0013" Action="Info" />
    <Rule Id="IDE0017" Action="Info" />
    <Rule Id="IDE0028" Action="Info" />
    <Rule Id="IDE0029" Action="Info" />
    <Rule Id="IDE0030" Action="Info" />
    <Rule Id="IDE0031" Action="Info" />
    <Rule Id="IDE1006" Action="Info" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1128" Action="None" />
    <Rule Id="SA1133" Action="None" />
    <Rule Id="SA1208" Action="None" />
    <Rule Id="SA1305" Action="Warning" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1501" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1634" Action="None" />
    <Rule Id="SA1635" Action="None" />
    <Rule Id="SA1636" Action="None" />
    <Rule Id="SA1637" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>